body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    
    height: 150px;
    width: 280px;
    border: 2px solid black;
    background-color: rgb(220, 154, 220);
    display: flex;
    align-items: center;
    justify-content: center;
}

.padding{

     height: 300px;
    width: 480px;
    border: 3px solid black;
    background-color: rgb(215, 114, 215);
    display: flex;
    align-items: center;
    justify-content: center;




}

.margin{

    height: 500px;
    width: 780px;
    border: 4px solid black;
    background-color: rgb(163, 4, 163);
    display: flex;
    align-items: center;
    justify-content: center;


}