

.div1 p{

   
    background-color: rgb(214, 207, 207);
    color: rgb(204, 46, 46);
    border : 2px double black;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    


}