body {
    margin: 0;
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
}

#para {
    font-size: 10vw;         
    font-weight: bold;
    text-align: center;
}
